*.css
*.gcda
*.gcno
*.html
*.la
*.lo
*.log
*.o
*.swp
*.trs
*~
.deps
.dirstamp
.libs
GTAGS
GRTAGS
GPATH
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
build-aux/*
!build-aux/.gitkeep
config.h
config.h.in
config.log
config.status
configure
libtool
m4/*
!m4/.gitkeep
stamp-h1
tags
src/yadd
tests/googletest-release-*/
tests/gtest/
tests/testsuite
