*.css
*.gcda
*.gcno
*.html
*.la
*.lo
*.log
*.o
*.swp
*.trs
*~
.deps
.libs
GTAGS
GRTAGS
GPATH
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
tags
src/memmap
tests/googletest-release-*/
tests/gtest/
tests/testsuite
